header {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: center;
    
}
li {
    list-style: none;
    padding: 0px 10px;
   
}
ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

ul li a:hover {

    background-color: lightgrey;
}
